.container {
    display: flex;
    justify-content: center;
  }
  .bg-green-100 {
    background-color: #d4edda;
  }
  
  .border-green-500 {
    border-color: #28a745;
  }
  
  .text-green-700 {
    color: #155724;
  }
  
  .bg-red-100 {
    background-color: #f8d7da;
  }
  
  .border-red-500 {
    border-color: #dc3545;
  }
  
  .text-red-700 {
    color: #721c24;
  }
  
  
  .cart-content {
    width: 100%;
    max-width: 40rem; 
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .cart-content h2 {
    margin-bottom: 1.5rem;
  }
  
  .cart-content .bg-white {
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  
  @media (max-width: 768px) {
    .cart-content {
      padding: 0.5rem; 
    }
  }
  